<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hw3：再戰 Twitch API
    link(href="css.css" rel="stylesheet")
  body
    .wrapper
      h1 TOP 20 Streams of League of Legends
    .btn 載入更多
    script(src="js.js" type="text/javascript")
