<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hw1：抽獎程式
    link(href="css.css" rel="stylesheet")
  body
    .wrapper
      h1.title 
        img(src="./title.png", alt="")
      .prize
      button.btn(type="submit" ) 立即抽獎
    script(src="js.js" type="text/javascript")
