
*{
  padding: 0;
  margin: 0;
}

body{
  min-width: 400px;
}
a{
  color: grey;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.btn{
  color:#fff;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.btn_main{
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  background-color: #fb1562;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .3);
  &:hover{
    background-color: #eb1059;
  }
}
.btn_grey{
  font-size: .8em;
  letter-spacing: 5px;
  padding-left: 10px;
  font-weight: light;
  color: #6C757D;
  border-radius: 0;
  border-bottom: 1px solid #6C757D;
  position: absolute;
  right: 15px;
  bottom: 50px;
  &:hover{
    color: #92989c;
    border-bottom: 1px solid #92989c;
  }
}
p{
  padding: 10px 0px;
}
nav{
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  background: #353A40;
  color:#fff;
  display: flex;
  align-items: center;
  .icon{
    font-size: 20px;
    line-height: 50px;
    margin-left: 10px;
  }
  ul{
    display: inline-block;
    li{
      font-size: .8em;
      margin-left: 15px;
      list-style: none;
      display: inline-block;
      .link{
        &:hover{
        color:#fff;
        }
      }
    }
    li+li{
      &:before{
        content:'|';
        color:grey;
        margin-right: 15px;
      }
    }
  }
}
.banner{
  margin-top: 40px;
  padding: 40px 15px;
  background-image: url('banner-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  h1.title{
    text-align: center;
    letter-spacing: 3px;
    font-size: 72px;
    color: #fff;
    text-shadow: 0px 1px 4px #808486;
  }
  p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    text-shadow: 0px 0px 2px #808486;
        
  }

}

.content{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  .col{
    width: 33.33%;  
    box-sizing: border-box;
    padding-bottom: 80px; 
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    position: relative;
    h2{
      position: relative;
      padding-left: 15px;
      &:before{
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: #444;
        margin-left: -15px;
      }
    }
    .author{
      margin-top: 5px;
      text-align: right;
      font-size: .8em;
      padding-right: 10px;
    }
    .text{
      text-align: justify;
      padding: 10px;
      color: #666;
    } 

  }
}
.footer{
  position: relative;
  bottom:0;
  margin-top: 40px;
  background-color: #353A40;
  color: #eee;
  .cc{
    font-size: .7em;
  }
}
@media screen and (max-width:840px) and (min-width: 480px) {
  .btn_grey{
  }
  .content{
    .col{
      width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  nav{
    ul{
      display:none;
    }
  }
  .content{
    .col{
      width: 100%;
    }
  }
}
