<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hw2：仿 Medium
    link(href="css.css" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
  body
    nav
      .container
        .icon
          i.fab.fa-medium
        .info
          i.fas.fa-cog
          i.fas.fa-bell
          .btn-upgrade UPGRADE
          img(src="http://lorempixel.com/30/30/", alt="")
    .container.content
      .clap
        i.fas.fa-sign-language
        i.far.fa-bookmark
        i.fab.fa-twitter
        i.fab.fa-facebook-square
      h1.title 【讀讀書】無需遠大，只需暫時放下自己，向外一望 – 《意義 邁向美好而深刻的人生》
      p 當初因為剛離職的關係開始思考自己要的到底是什麼，所以選擇了這本書，不知不覺看了好久⋯（拖延病）
      .divider
      p 有的人追求金錢、權力，有些人追求開心，而也有一群人持續做著付出的勞務與實際收穫不等值的事情，他們追求的是意義。（當然不一定都得縮衣節食的生活才有意義啦）
      h2.h2-title 意義來自哪裡呢？
      p 來自自己成為一個團體內被認可的存在，這是「歸屬」。在這裡，我們是一體的，每個人的福禍都受到大家的關心。例如嗜好性社團內的成員友好的付出與互助。（身為宅宅我很能理解同好交流的歸屬感，例如我最近很迷戀的TRPG類型遊戲，附圖沒意外我想應該是龍與地下城）
      p 來自一件自己能做，且想做的事情，這是「使命」。讓人覺得自己發揮了價值，不一定要宏大到世界和平，也許只是照顧巷口的浪浪；也許只是每天準時的開店營業；也許是幫助獄友健身，從自己真心在乎的事情出發，那就有意義。
      p 來自於得知或告訴別人你不是孤身一人，這是「敘事」。從敘述親身經驗的過程中，提取與自身經歷共鳴的片段，讓蒙塵的鬥志受到鼓舞、讓凝滯的悲傷得到釋放讓困惑與孤獨得到引導，聽者與說者藉由共感接收到邁出下一步的力量。
      p 來自於體悟到自身的渺小，這是「超然」，例如從太空遠望我們身處的水藍行星，是完全看不到人類的，是多麼孤單、微小的存在，藉由超然經驗拉遠了視野，不再拘泥於小我，感受到在這層薄薄大氣包圍著孤單宇宙中我們的同胞。
      .divider
      h2.h2-title 當創痛降臨時呢？
      p 當摯愛突然離去，或者生命被宣告僅剩下短促的時間，那意義似乎已經無關輕重，是吧？然而，在餘下的時間中，或許與以往有很大的不同，藉由書寫、支持性團體的陪伴下，思考死亡與失落的同時，正好是個清晰辨識什麼對自己最重要的時機，儘管我們都希望人生順遂，但機會任何人都無法過著毫無苦難的生活，設法從逆境中依靠意義的支柱因應苦難，這就是「成長」。
      p 意義始於愛而成於愛，當人們越放下自我，人性的光亮將越加明亮。
      p 喜歡書中作結的最後一段：
      p.quote 那不是多了不起的領悟，而是暫停下來對報攤小販打招呼，問候工作上看似消沈的夥伴，幫人健身，當個稱職的父母或當孩子的人生導師，在點點星光下產生敬畏之心，與朋友一起參與中世紀的祈禱儀式，為需要協助的退役軍人開設咖啡館，專注聆聽摯愛訴說故事，照顧植物等等。這些行為本身看似微不足道，但集合起來，它們一起照亮了全世界。
    .recommend
      .container.article
        .article-box
          img.article-img(src="http://lorempixel.com/300/100/", alt="")
          .article-content
            span 熱門文章
            h3.article-title 30 Years of Depression. Gone.
            .author
              img.author-img(src="http://lorempixel.com/40/40/", alt="")
              .author-name 知名專欄作者
                .post-date May 12．32 read
              .hot
                i.fas.fa-sign-language
        .article-box
          img.article-img(src="http://lorempixel.com/300/100/", alt="")
          .article-content
            span 熱門文章
            h3.article-title 30 Years of Depression. Gone.
            .author
              img.author-img(src="http://lorempixel.com/40/40/", alt="")
              .author-name 知名專欄作者
                .post-date May 12．32 read
              .hot
                i.fas.fa-sign-language
        .article-box
          img.article-img(src="http://lorempixel.com/300/100/", alt="")
          .article-content
            span 熱門文章
            h3.article-title 30 Years of Depression. Gone.
            .author
              img.author-img(src="http://lorempixel.com/40/40/", alt="")
              .author-name 知名專欄作者
                .post-date May 12．32 read
              .hot
                i.fas.fa-sign-languages

