<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 註冊
    link(href="https://fonts.googleapis.com/css?family=Mukta:300|Noto+Sans+TC:300&display=swap" rel="stylesheet")
    link(href="lib/css.css" rel="stylesheet")

  body
    .wrapper.side-page
      .banner
        h1 你好！歡迎加入小樹洞
      form.add#sign-in(method="post" action="lib/handle_sign-in.php")
        label(for="account") 帳　　號：
          input(type="text" name="account")
        label(for="nickname") 暱　　稱：
          input(type="text" name="nickname")
        label(for="password") 密　　碼：
          input#password(type="password" name="password" autocomplete="set-password")
        label(for="password2") 密碼確認：
          input#passche(type="password" name="password2" autocomplete="check-password")
        button.btn-add(type="submit") 確認送出
        
    script(src="lib/formCheck.js" type="text/javascript")